*
    {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
html
    {
        font-size: 62.5%;
    }
:root
    {
        --black: #000000;
        --blue-botton: #1d9bf0;
        --borders-color: #4e5e6a;
    }
body
    {
        font-size: 2.4rem;
        background-color: var(--black);
        color: var(white);
    }
.main-container
    {
        display: flex;
        width: 100%;
        height: 100vh;
    }
.main-container .main-container__left-section
    {
        width: 54%;
        height: 100vh;
    }
.main-container .main-container__left-section figure
    {
        width: 100%;
        height: 110vh;
        background-color: #4e5e6a;
        display: inline-block;
        position: relative;
    }
.main-container .main-container__left-section figure img:nth-child(1)
    {
        width: inherit;
        height: inherit;
        object-fit: cover;
    }
.main-container .main-container__left-section figure img:nth-child(2)
    {
        width: 50rem;
        bottom: 50rem;
        position: absolute;
        top: 10rem;
        right: 20%;
    }
.main-container .main-container__right-section
    {
        width: 46%;
        height: 100vh;
    }